Slackware/Service References/ServiceReferenceSlack/SlackService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SlackService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SlackService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="tblEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DateAdded" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Genre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblEntry" nillable="true" type="tns:tblEntry" />
  <xs:complexType name="ArrayOftblEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblEntry" nillable="true" type="tns:tblEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblEntry" nillable="true" type="tns:ArrayOftblEntry" />
</xs:schema>